---
layout: page
---
<div class="home">
  {% include pagination.html content='.home' parent='.home' %}

  {% for post in site.posts %}
  <div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <span class="post-title">
        {{ post.title }}
      </span>
    </a>
    <div class="post-meta-info">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
      &nbsp; &nbsp;
      {% include post_classify_tag.html post=post %}
    </div>
    <hr>
  </div>
  {% endfor %}
</div>