---
layout: page
---
<div class="home">
  {% for post in site.posts %}
  <div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <span class="post-title">
        {{ post.title }}
      </span>
    </a>
    <div class="post-meta-info">
      <span class="post-time">发布于 {{ post.date | date: "%Y-%m-%d" }}</span>
      {% include post_classify_tag.html post=post %}
    </div>
    <hr>
  </div>
  {% endfor %}
  {% include pagination.html content='.home' parent='.home' %}
</div>