<div class="site-header">
	<div class="container">
		<div class="row">
			<div class="navbar navbar-default" role="navigation">

				<div class="navbar-header col-xs-8 col-sm-8 col-md-3 col-lg-3 center">
					<div class="header-title">
						<a href="{{ site.baseurl }}/" title="首页"></a>
						<i class="fa fa-home fa-2x"></i>
						<a class="site-title" href="{{ site.baseurl }}/">Lxm's Blog</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-6 hidden-sm hidden-xs center">
					<div class="site-nav">
						<ul class="nav nav-pills">
							<li class="select"><a class="page-link pjaxlink" href="/pages/classify.html">分类</a></li>
							<li class="select"><a class="page-link pjaxlink" href="/pages/archive.html">归档</a></li>
							<li class="select"><a class="page-link pjaxlink" href="/pages/tags.html">标签</a></li>
							<li class="select"><a class="page-link pjaxlink" href="/pages/about.html">关于</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
					<div id="header-search" class="search-input-container">
						<input id="header-search-input" type="text" class="header-search-input" placeholder="Search">
						<!--搜索图标-->
						<i class="fa fa-search fa-lg search-icon"></i>
					</div>
				</div>

				<!-- 宽度不够时显示 -->
				<div class="hidden-lg hidden-md col-sm-4 col-xs-4">
					<div class="header-hidden-buttons">
						<i class="fa fa-search fa-lg search-icon"></i>
						<i class="fa fa-bars fa-2x menu-icon"></i>
						<!-- 用于控制菜单的显示和隐藏 -->
						<input type="checkbox" id="nav-trigger" class="nav-trigger">
					</div>
				</div>

				<div class="phone-nav">
					<ul>
						<li><a href="/">首 页</a></li>
						<li><a href="/pages/classify.html">分 类</a></li>
						<li><a href="/pages/archive.html">归 档</a></li>
						<li><a href="/pages/tags.html">标 签</a></li>
						<li><a href="/pages/about.html">关 于</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>

{% include search_container.html %}
