<div class="profile box-shadow center">
  <div class="overlay"></div>
  <div class="center avatar">
    <a href="/" class="profile_avatar"><img class="circle" src="/assets/images/avatar.jpg"></a>
  </div>
  <div class="address">
    <h5><span class="fa fa-map-marker"></span> {{ site.author.address }}</h5>
  </div>
  <div class="center profile_desc">
    {{ site.author.description }}
  </div>
</div>

<div class="tag-cloud-container box-shadow">
  <div class="tag-cloud-title">
    <a href="tags.html" title="标签">
      <p class="center">标签</p>
    </a>
  </div>
  <div class="tag-cloud">
    <hr>
    <div class="tag-list left-bar-tag">
      {% for tag in site.tags %}
      <a class="post-tag" data-tag="{{ tag[0] }}" href="{{ site.url }}/pages/tags.html#{{ tag[0] }}">
        <i class="fa fa-tags"></i>{{ tag[0] }}({{ tag[1].size}})
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="common-links box-shadow">
  <p>常用链接</p>
  <hr>
  <ul>
    <li><a href="{{ site.author.github }}">github主页</a></li>
    <li><a href="{{ site.author.cnblog }}">博客园</a></li>
    <li><a href="{{ site.rss_url }}">订阅本站</a></li>
  </ul>
</div>