/**
 * _layouts public css
 */

/* Posts */
.post-content {
	line-height: 1.8em;
	letter-spacing: 1px;
}

.post-header {
	margin-top: 1em;
	margin-bottom: 1em;
	border-left: 6px solid;
	margin-left: -3em;
	padding-left: 3em;
}

@media (max-width: 992px) {
	.post-header {
		margin-left: -1.5em;
		padding-left: 1.5em;
	}
}


.post-title {
	font-size: 2em;
	padding-top: 10px;
	letter-spacing: -1px;
	line-height: 1;
}

@media (max-width: 992px) {
	.post-title {
		font-size: 1.4em;
	}
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
	/* border-radius: 5px; */
	/* color: white; */
	/* font-family: "微软雅黑" , "宋体" , "黑体" ,Arial; */
	font-size: 1.3em;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 1em 0 1em 0;
	padding: 5px 5px 5px 15px;
	border-left: 4px solid #3B95B8;
	border-bottom: 1px solid #3B95B8;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
	font-size: 1.15em;
	width: 80%;
	padding: 5px 5px 5px 15px;
}

/* end _layouts public css */

/**
 * _layouts/default.html
 */
.content {
	margin: 0 auto;
	min-height: 600px;
}

.common-links {
	margin-top: 1em;
	background: #fff;
	padding: 1em 2em;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.common-links ul {
	margin-top: 8px;
	margin-left: 1em;
	padding-left: 0;
}

.pjax_loading {
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 999999;
	background: url(/assets/images/pjax_loading.gif) 50% 50% no-repeat;
}
/* Profile elements style */
.main-container {
	display: flex;
}
.left-side {
	margin-bottom: 1em;
}

.left-side .profile {
	position: relative;
	background: #fff;
	margin: 0 auto;
	padding: 2em 2em 0 2em;
	opacity: 1;
	min-height: 23em;
}

.left-side .box-shadow {
	box-shadow: 0 0 8px #aaa;
	border-radius: 7px !important;
	-moz-border-radius: 7px !important;
	-webkit-border-radius: 7px !important;
}

.profile .overlay {
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	height: 5.5em;
	background-image: url(/assets/images/header_bg.png);
	opacity: 0.7;
	margin: -2em -2em -4em -2em;
}

a.profile_avatar {
	position: relative;
	width: 8em;
	height: 8em;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
	border: 0.29em solid #fff;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	display: -webkit-box;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

a.profile_avatar .circle {
	opacity: 1;
	height: 100%;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
}

div.avatar a:hover {
	-moz-transform: scale(1) rotate(-360deg) translate(0px);
	-webkit-transform: scale(1) rotate(-360deg) translate(0px);
	-o-transform: scale(1) rotate(-360deg) translate(0px);
	transform: scale(1) rotate(-360deg) translate(0px);
}

.profile .address {
	margin-top: 1em;
	border-bottom: 1px solid;
	padding-bottom: 0.5em;
	font-family: cursive;
}

.profile_desc {
	margin-top: 2em;
	letter-spacing: 1px;
	font-size: 1em;
	line-height: 2em;
}

@media (max-width: 1200px) {
	.profile_desc {
		font-size: 0.9em;
	}

	.profile .overlay {
		margin: -2em -2em -3em -2em;
	}

	a.profile_avatar {
		width: 6em;
		height: 6em;
	}
}

/* Page content */

.page-content {
	padding-bottom: 1em;
	min-height: 50em;
	margin-bottom: 1em;
	border-radius: 7px;
	width: 100%;
}

/* back to top */
#back-to-top {
	position: fixed;
	bottom: 55px;
	right: -60px;
	z-index: 9999;
	font-size: 3.5em;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#back-to-top a {
	color: #aaa;
	opacity: 0.7;
}

#back-to-top a:visited {
	color: #aaa;
	opacity: 0.7;
}

#back-to-top a:hover {
	color: #aaa;
	opacity: 1;
}

#back-to-top.showme {
	right: 12px;
	-moz-transform: scale(1) rotate(-360deg) translate(0px);
	-webkit-transform: scale(1) rotate(-360deg) translate(0px);
	-o-transform: scale(1) rotate(-360deg) translate(0px);
	transform: scale(1) rotate(-360deg) translate(0px)
}

#back-to-top .bttbg {
	width: 50px;
	height: 50px;
}

/* tag cloud */
.tag-cloud-title {
	margin-top: 1em;
	letter-spacing: 5px;
}

.tag-cloud-title p {
	margin: 0 auto;
	font-size: 1.5em;
	padding: 3px;
	opacity: 0.8;
	border-radius: 7px 7px 0 0;
	background: white;
	border-bottom: 2px solid;
}

.tag-cloud-title a {
	text-decoration: none;
}

.tag-cloud {
	background: #fff;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}

.tag-cloud .tag-list {
	min-height: 8em;
	background: #fff;
	padding: 0.5em;
	padding-left: 1.5em;
	padding-top: 1em;
}

/* end _layouts/default.html */