/* Pagination */

.my-pagination {
    font-size: 15px;
    margin-top: 10px;
    white-space: nowrap;
}

.my-pagination__sizes,
.my-pagination__total,
.my-pagination__goto {
    vertical-align: middle;
    padding: 0 5px;
}

@media (max-width: 576px) {
    .my-pagination {
        font-size: 13px;
    }
    .my-pagination__sizes,
    .my-pagination__total,
    .my-pagination__goto {
        padding: 0 2px;
    }
}

.my-pager {
    user-select: none;
    display: inline;
    text-align: center;
    line-height: 25px;
}

.my-pager li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
    width: 30px;
    height: 25px;
    color: #000;
    border: 1px solid #3B95B8;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .my-pager li {
        width: 25px;
        height: 20px;
        padding: 0;
        line-height: 19px;
    }
}

.my-pager li:hover {
    color: #3B95B8;;
}

.my-pager li.active {
    color: #fff;
    background-color: #3B95B8;;
}

.my-pagination__sizes select {
    cursor: pointer;
    width: 40px;
    height: 25px;
    border: 1px solid #3B95B8;;
    border-radius: 5px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .my-pagination__sizes select {
        height: 20px;
    }
}

.my-pagination__sizes select:focus {
    outline: none;
}

.my-pagination__goto input {
    width: 30px;
    height: 25px;
    border: 1px solid #3B95B8;;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

@media (max-width: 768px) {
    .my-pagination__goto input {
        width: 25px;
        height: 20px;
    }
}

.my-pagination__goto input:focus {
    outline: none;
}

.my-pagination-content div.hide {
    display: none;
}
