<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="content">
    <div class="container">
      <div class="row main-container">

        {% if page.date or page.id %}
          <div class="col-md-2 col-lg-2 hidden-xs hidden-sm left-side fadein-left">
            {% include post_sidebar.html %}
          </div>
          <div class="my-col col-xs-12 col-sm-12 col-md-8 col-lg-8 fadein-right">
            <div class="page-content box-shadow">{{ content }}</div>
          </div>
        {% else %}
          <div class="col-md-3 col-lg-3 hidden-xs hidden-sm left-side fadein-left">
            {% include page_sidebar.html %}
          </div>
          <div class="my-col col-xs-12 col-sm-12 col-md-9 col-lg-9 fadein-right">
            <div class="page-content box-shadow">{{ content }}</div>
          </div>
        {% endif %}


      </div>
    </div>
  </div>

  <div id="back-to-top">
    <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
  </div>

  {% include footer.html %}

</body>

</html>